<template>
  <div>
    TODO: pagina sobre o aluguel de salas
    <br>
    <a href="">visualizar no figma</a>
  </div>
</template>

<script>
export default {
  name: 'AluguelSala'
}
</script>

<style>

</style>