<template>
  <div>
    TODO: pagina de Treinamentos In Company, o link na nevagação para essa pagina não está claro.
    <br>
    <a href="https://www.figma.com/proto/770HPkNPm2PRc5YTXEiZyJ/Prot%C3%B3tipo?node-id=177%3A11910&viewport=334%2C381%2C0.052621688693761826&scaling=scale-down-width">visualizar no figma</a>
  </div>
</template>

<script>
export default {
  name: 'TreinamentosInCompany'
}
</script>

<style>

</style>