<script>
  export default {
    name: 'RenderUlNavLink',
    render(h){
        // return(
        //     <div> teste monstro </div>
        // )
        return h('h1', 'Hello world');
    }
  }
</script>

<style>

</style>