// app global css in SCSS form
@import './main';

body{
  font-family: 'Ubuntu', sans-serif;
  background:#F8F9FD;
  min-height: 100vh;
  > *{
    min-height: 100vh;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i{
  font-style: normal;
}

.soft-shadow{
  -webkit-box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.07);
  box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.07);
}

.soft-lg-shadow{
  @include d( l){
    -webkit-box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.07);
    box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.07);
  }
}

.destaque-500{
  font-weight: 500 !important;
}

.destaque-700{
  font-weight: 700 !important;
}

.texto-300{
  font-weight: 300 !important;
}

.text-red{
  color: #FE7271;
}

.destaque-tachado{
  text-decoration: line-through;
}

.text-color-primary{
  color: $primary !important;
}

.style-link-default{
  border: none;
  background: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  &:hover{
    filter: opacity(0.85);
  }
}

*.all-text-uppercase, .all-text-uppercase *{
  text-transform: uppercase;
}

.bg-dark-gray{
  background: $dark_gray_text !important;
}
.text-dark-gray{
  color: $dark_gray_text !important;
}

.direction-mobile-column{
  flex-direction: column;
  @include d( lm){
    flex-direction: row;
  }
}

.adorno-retangular{
  position: relative;
  z-index: 200;
  &:before{
    content: '';
    position: absolute;
    background: $primary;
    border-radius: 4px;
    height: 3px;
    width: 50px;
    left: 0;
    top: -2vmax; 
    @include d( sxs){
      width: 30px;
      left: 50%;
    }
  }
}
.adorno-container{
  @include d( sxs){
    position: relative;
    .adorno-retangular{
      position: static;
      &:before{
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
.adorno-container-center{
  position: relative;
  .adorno-retangular{
    position: static;
    &:before{
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

.bg-f5{
  background: #f5f5f5 !important;
}

.btn-gradient{
  background: #4cb8c4 !important;
  background: -moz-linear-gradient(90deg, #4cb8c4 0%, #3cd3ad 67%) !important;
  background: -webkit-linear-gradient(90deg, #4cb8c4 0%, #3cd3ad 67%) !important;
  background: linear-gradient(90deg, #4cb8c4 0%, #3cd3ad 67%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cb8c4",endColorstr="#3cd3ad",GradientType=1) !important;
}

.btn-desable{
  background: #EEEEEE !important;
  color: #A9B8B5 !important;
}

.link-reset{
  color: unset;
  text-decoration: unset;
  &:hover{
    color: unset;
    text-decoration: unset;
  }
}

.initial-hided{
  display: none;
  &.show{
      display: initial;
  }
}

.h-none{
  text-decoration: none !important;
}

.my-w-100{
  width: 100%;
}

@for $i from 1 to 10 {
  $num: #{ $i * 10};
  .my-w-#{$num}{
    width: #{quote($num + '%')};
    @include d( sxs){
      width: 100%;
    }
  }
}

@for $i from 1 through 40 {
  .content-#{$i}{
    &::before{
      content: "#{$i}" !important;
    }
  }
}
