<template>
  <div>
    TODO: pagina sobre o programa social Impactando Vidas
    <br>
    <a href="https://www.figma.com/proto/770HPkNPm2PRc5YTXEiZyJ/Prot%C3%B3tipo?node-id=206%3A5638&viewport=334%2C381%2C0.052621688693761826&scaling=scale-down-width">visualizar no figma</a>
  </div>
</template>

<script>
export default {
  name: 'ProgramaImpactandoVidas'
}
</script>

<style>

</style>