<template>
  <div>
    TODO: pagina com informações sobre o processo de obtenção do CREA
    <br>
    <a href="https://www.figma.com/proto/770HPkNPm2PRc5YTXEiZyJ/Prot%C3%B3tipo?node-id=177%3A12319&viewport=334%2C381%2C0.052621688693761826&scaling=scale-down-width">visulizar no figma</a>
  </div>
</template>

<script>
export default {
  name: 'ObterCrea'
}
</script>

<style>

</style>