<template>
  <div>
    TODO: pagina de um curso tecnico especifico
    <br>
    <a href="https://www.figma.com/proto/770HPkNPm2PRc5YTXEiZyJ/Prot%C3%B3tipo?node-id=177%3A12400&viewport=334%2C381%2C0.052621688693761826&scaling=scale-down-width">visualizar no figma</a>
  </div>
</template>

<script>
export default {
  name: 'SingleCursoTecnico'
}
</script>

<style>

</style>